n8n_flow.json
{
  "name": "Refined RAGFlow",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -688,
        336
      ],
      "id": "f4a82fde-c4de-46f4-a8cc-a017dde0c186",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "You are an internal company knowledge analyst.\nYour job is to:\n1. Parse, summarize, and interpret all company documents provided to you as context.\n2. Act as a structured, factual knowledge hub.\n3. Give direct, terse, well-reasoned answers to the specific document segments you use.\n\nRules:\n• Always use the Postgres Vector DB for ANY question about company information, policies, or documents. Call the tool before responding\n• If the information is not in the provided documents, say “Not available in the current documents.”\n• Keep your reasoning explicit. Show the chain of logic using short bullet points.\n• Extract data, KPIs, timelines, risks, dependencies, assumptions, and contradictions whenever present.\n• Normalize all document content into a consistent, clear structure when asked.\n• When the user asks a strategic question, respond as an analyst:\n1. Identify the exact parts of the documents that matter\n2. Contrast facts vs assumptions\n3. Point out inconsistencies in the user’s thinking\n4. Explain what the documents imply even if it's uncomfortable\n\nYour output must always be:\n1. Direct and factual\n2. Structured\n3. Based entirely on the supplied documents\n\nDo not write like a chatbot. Write like an internal analyst whose job depends on accuracy."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -896,
        112
      ],
      "id": "fad064f3-85f7-44f4-8640-2fd3ed859f68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        544
      ],
      "id": "fb7fb867-93ac-4106-a356-6d3b30915e22",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        336
      ],
      "id": "4b7d0eb2-afba-47a7-af4d-db299052ed7c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'YOUR_GOOGLE_DRIVE_FOLDER_ID' in parents and trashed=false",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "",
            "mode": "id"
          },
          "whatToSearch": "files",
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -752,
        720
      ],
      "id": "29c20fe1-4597-461e-bfbd-baab40646c72",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        720
      ],
      "id": "80b5a7ad-ac78-48c7-b13f-3bb427f7fcc6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -96,
        912
      ],
      "id": "69519fb6-b39f-4bd6-9504-81edbf53a4a8"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        720
      ],
      "id": "1bae3b28-1f5a-4922-8c53-48d51e7c2715",
      "name": "Download file",
      "retryOnFail": true,
      "notesInFlow": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newragtest",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        320
      ],
      "id": "b531b52b-65ee-4b7e-a0c2-b3fdfb8c5eeb",
      "name": "Webhook",
      "webhookId": "c64edbdf-117e-459f-b384-e71d99d31351"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -320,
        320
      ],
      "id": "0fc9e566-c4d2-432a-b0fd-6aca56fc2102",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        208,
        1152
      ],
      "id": "4c9c4bf2-35c3-4f7b-81eb-0073c2108b3f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "5ed5b3a7-3ef4-4221-b668-c29e2806fb12",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        128,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        112,
        480
      ],
      "id": "4303177b-46f1-4477-a097-cc2342a050c9",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.prompt }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -816,
        336
      ],
      "id": "12addd3f-7441-45eb-91b9-6b04dbc86a10",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        720
      ],
      "id": "41d151c1-fb65-4157-8a1f-ecf027991808",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Your Google Drive folder",
          "cachedResultUrl": "{insert your Google Drive folder URL here}"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        1104
      ],
      "id": "a7aa7f98-4171-4ef6-bca4-916220c65e8b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Your Google Drive folder",
          "cachedResultUrl": "{insert your Google Drive folder URL here}"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "a3649bd1-6918-4628-ae60-ef1dd1d798e5",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -736,
        896
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "49f33595-9a5d-42c2-84f2-c1d55924b4e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "844ce8481ba9572da2292bca715380d51de6ee58670d78b4e753e1e0997521d2"
  },
  "id": "e40KnWOZ2CdNlx1r",
  "tags": []
}